[Unit]
Description=Collect PVE backup metrics every minute

[Timer]
OnBootSec=1min
OnUnitInactiveSec=1min
RandomizedDelaySec=5s

[Install]
WantedBy=timers.target
