[defaults]
interpreter_python = /usr/bin/python3
collections_path = /usr/share/ansible/collections
roles_path = /usr/local/lib/pve-hostcfg/roles
retry_files_enabled = False
stdout_callback = default
[inventory]
enable_plugins = host_list
